<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>date</key>
	<string>September 2012</string>
	<key>title</key>
	<string>Working Student</string>
	<key>text</key>
	<string>While studying computer science, I reduced the time I spent working for grandcetrix. In my maximum 20 hours a week at the shiny new office in the heart of cologne, I mainly do bug fixes. It is amazing how much and fast you learn if you have such a large variety of projects. You see others code, their code smell and there cleverness. You can always learn from it.

Between the break of the first and the second semester I spent some more time working for grandcentrix. Luckily I got the task to rewrite the former IFA Loewe ShowCase application. My Co-worker and I started from scratch as it was clear that the showcase version was only a quickly coded prototype. With the management team introducing scrum to our workflow we managed to finish the application just in time. Loewe Assist Media for iPhone will be submitted to the App Store very soon.</string>
	<key>previewText</key>
	<string>Financing my education and learning by doing.</string>
	<key>type</key>
	<string>profession</string>
	<key>urls</key>
	<dict>
		<key>RTL (German)</key>
		<string>http://www.grandcentrix.net/portfolio/rtl-media-group-social-tv/</string>
	</dict>
</dict>
</plist>
