# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/

Giulio Petek/Giulio Petek/person01a.jpg

Giulio Petek/Giulio Petek/1318602514_bn_rhein_michael-sondermann_presseamt-bundesstadt-bonn.jpg

Giulio Petek/Giulio Petek/1318602514_bn_rhein_michael-sondermann_presseamt-bundesstadt-bonn.jpg
