<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>date</key>
	<string>May 2012</string>
	<key>title</key>
	<string>Final Examinations</string>
	<key>text</key>
	<string>My final examinations took place during March and April, 2012. By getting my test results in May, I had the required education to enroll at a university.

My subjects included biology, geography, English and computer science. The two latter ones were a good foundation for what I do now. Studying computer science and communicating in english. Biology and geography where two other topics that I was interested in. Although I decided to not enlarge my knowledge about it.</string>
	<key>previewText</key>
	<string>Subjects: Biology, Geography, English and of course computer science.</string>
	<key>type</key>
	<string>education</string>
	<key>urls</key>
	<dict>
		<key>My high school (German)</key>
		<string>http://www.aeg-kaarst.de/aeg/home.nsf/frmstart3/de</string>
	</dict>
</dict>
</plist>
