<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>date</key>
	<string>July 2012</string>
	<key>title</key>
	<string>CKCrashReporter</string>
	<key>text</key>
	<string>CKCrashReporter is a crash reporter class for your iOS application. It is very simple to adopt and easily extendable. Once a NSException is instantiated, CKCrashReporter will save save it on disk along with other useful information. The next time the user starts your application you can read out that information and e.g. send a mail with it attached via a MFMailComposeViewController.

CKCrashReporter was a side project based on a task at grandcentrix. I had to write a github wiki entry about iOS crashlogs and how to correctly analyze them.</string>
	<key>previewText</key>
	<string>CKCrashReporter is one of my open source projects on Github.</string>
	<key>urls</key>
	<dict>
		<key>CKCrashReporter (Github)</key>
		<string>https://github.com/Gi-lo/CKCrashReporter?source=cr</string>
	</dict>
	<key>type</key>
	<string>private</string>
</dict>
</plist>
