<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>date</key>
	<string>April 2010</string>
	<key>title</key>
	<string>EtchPad</string>
	<key>text</key>
	<string>A friend of mine and I decided to build an application for the recently released first generation of the iPad. As he enjoyed playing Etch-a-Sketch as child we decided to bring back some good old childhood memories. Altough the application was rejected due to copyright issue it was a still a great learning experience. Diving deeper in CoreGraphics and custom UIControls was a clever choice.
EtchPad features two rotary knobs for vertical and horizontal line movement. There is also an undo function as well as the possibility to export and share your drawings.</string>
	<key>previewText</key>
	<string>EtchPad is an application designed to bring back some childhood memories.</string>
	<key>urls</key>
	<dict>
		<key>macstories</key>
		<string>http://www.macstories.net/ipad/first-look-etchpad-etch-a-sketch-on-your-ipad/</string>
	</dict>
	<key>type</key>
	<string>private</string>
	<key>videoURL</key>
	<string>http://f.cl.ly/items/083W311X1W2e2m2h452U/EtchPad%20Sneak%20Peak.mp4</string>
</dict>
</plist>
