<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>date</key>
	<string>April 2010</string>
	<key>title</key>
	<string>EtchPad</string>
	<key>text</key>
	<string>/</string>
	<key>previewText</key>
	<string>Etch-a-Sketch is an application designed to bring back some childhood memories.</string>
	<key>urls</key>
	<dict>
		<key>URL1</key>
		<string>http://google.de</string>
		<key>Noch ein URL</key>
		<string>http://google.de</string>
	</dict>
	<key>type</key>
	<string>private</string>
</dict>
</plist>
