<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>date</key>
	<string>December 1992</string>
	<key>title</key>
	<string>Birth</string>
	<key>text</key>
	<string>On the Fifteenth of December, 1992, I was born in the university hospital of Düsseldorf. The regional Capital of North Rhine-Westphalia has a variety points of interest. From big shopping boulevards like the KÖ (Königsallee) to the Kunstpalast (Artpalace) there are enough spare time possibilities without getting bored quickly. 

I have lived in Düsseldorf for a couple of years before my parents and I moved to Kaarst. It is a rather small city with around 40.000 citizens. I have spent most of my life here. Although it might be not as big as Düsseldorf it is at least as beautiful.</string>
	<key>previewText</key>
	<string>I was born in Düsseldorf, Germany, where I lived a couple of years.</string>
	<key>urls</key>
	<dict>
		<key>Museum Kunstpalast</key>
		<string>http://www.smkp.de/en/home.html</string>
		<key>Königsallee</key>
		<string>http://www.koenigsallee-duesseldorf.de/index.php/en</string>
		<key>Düsseldorf</key>
		<string>http://www.duesseldorf.de/de/eng/index.shtml</string>
	</dict>
	<key>type</key>
	<string>other</string>
</dict>
</plist>
